  <header>
    <div class="row">
      <h1>{{siteTitle}}</h1>
      <p>Una crestomazia della blogosfera italiana</p>
    </div>
    <div class="row">
      <div class="three columns"><a href="/">Home</a></div>
      <div class="three columns"><a href="/about.html">Su di noi</a></div>
      <div class="three columns"><a href="/FAQ">FAQ</a></div>
      <div class="three columns"><a href="/blogs.html">Blogs</a></div>
    </div>
    <div class="row">
      <p><em>Ultimo aggiornamento: {{siteBuildTimestamp}}</em></p>
    </div>
  </header>